:root {
    --page-background: rgb(255, 255, 255);
    --text-color: rgb(40, 44, 52);
    --text-color-bold: rgb(26, 26, 26);
    --accent-color: rgb(0, 123, 255);
    --border-color: rgb(207, 208, 210);
    --button-hover-background: rgba(40, 44, 52, .05);
    --thread-background: rgba(89, 149, 255, .2);
    --overlay-background: rgba(40, 44, 52, .5);
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-background: rgb(42, 42, 42);
        --text-color: rgb(184, 184, 184);
        --text-color-bold: rgb(237, 237, 237);
        --accent-color: rgb(97, 175, 239);
        --border-color: rgb(92, 99, 112);
        --button-hover-background: rgba(0, 0, 0, 0.2);
        --thread-background: rgba(0, 92, 255, .2);
        --overlay-background: rgba(42, 42, 42, .5);
    }
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

html {
    font-size: medium;
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: pretty;
}

button {
    background-color: transparent;
    border: none;
    border-radius: .25rem;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

strong, b {
    color: var(--text-color-bold);
}

body,
input,
button {
    font-family: ui-sans-serif, -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
}

html,body{
    height: 100dvh;
    background-color: var(--page-background);
}

body {
    display: grid;
    grid-template-columns: 20rem 1fr;
}

main {
    overflow: auto;
    padding: 1rem;
    font-size: 1.125rem;
}

aside {
    overflow: auto;
    border-right: .0125rem solid var(--border-color);
    padding: 1rem .5rem;
    background-color: var(--page-background);
}

nav a, div.navLink {
    display: block;
    text-decoration:  none;
    color: currentColor;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: transparent;
    transition: background-color 100ms cubic-bezier(0.4, 0, 1, 1);
}
nav a:hover, button:hover {
    background-color: var(--button-hover-background);
}
nav a[aria-current] {
    font-weight: bold;
    color: var(--text-color-bold);
    background-color: transparent;
}

nav .activeChapter {
    margin-left: 1rem;
    padding-left: .25rem;
    border-left: 1px solid var(--border-color);
}
nav .label {
    font-size: 0.875rem;
    color: #767676;
    padding: .25rem 1rem;
    margin-top: 1rem;
}

article {
    max-width: 75ch;
    margin: 0 auto;
    text-wrap: balance;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
}

article > * + *, .thread > * + * {
    margin-top: 1.5rem;
}

article h1:first-of-type {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    line-height: 1.125;
    text-transform: uppercase;
    margin-top: 0;
}

article hr {
    border: none;
    height: .0125rem;
    background-color: var(--border-color);
}

article p + ul, article p + ol {
    margin-top: .5rem;
}

article .thread {
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: var(--button-hover-background);
    border-radius: 1rem;
}

article .thread > p {
    padding-left: 1rem;
    padding-right: 5rem;
}
article .thread blockquote {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-left: 5rem;
}
article .thread blockquote p {
    display: inline-block;
    width: fit-content;
    padding: 1rem 1.5rem;
    border-radius: .75rem;
    background-color: var(--thread-background);
}

button#toggle {
    display: none;
    position: fixed;
    top: 1.375rem;
    left: .75rem;
    width: 2rem;
    height: 2rem;
}

@media screen and (max-width: 960px) {
    aside {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-100%);
        transition-property: transform;
        transition-duration: 150ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 10;
    }
    
    main {
        grid-column: 1 / -1;
    }

    article {
        padding-left: 2.5rem;
        padding-right: 0rem;
    }
    
    button#toggle {
        display: inline-block;
    }

    button#toggle::after {
        content: '';
        position: fixed;
        inset: 0;
        transition-property: opacity;
        transition-duration: 225ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        background-color: rgba(0,0,0,0.5);
        transform: scale(0);
        opacity: 0;
        z-index: 9;
    }

    body.open button#toggle::after {
        opacity: 1;
        transform: scale(1);
    }

    body.open aside {
        transform: translateX(0);
    }
    
}